html{
    font-size: 15px; /* px means 'pixels': the base font size is now 10 pixels high */
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #FBEDF3
}
body {
  width: 1000px;
  margin: 10px auto;
  background-color: #E7E4EB;
  padding: 0 20px 20px 20px;
  border: 1px solid #C5A0FD;
    line-height: 2;
    letter-spacing: 1px
}
h1{
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
/*
    margin: 20px auto; 
    padding: 10px 0;    
*/
    text-shadow: 1px 1px 3px blue;
}
img{
    display: block;
    margin: 0 auto;
}
p,li{
    font-size: 16px;
}
p{
    margin: 30px 0 0 0 ;
    font-size: 18px;
}
ol{
    /*border: 1px solid blue;*/
}